/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/* Input form default style removal */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size:10px;
}

body {
    margin:0;
    background-image: url("../images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size:1.8rem;
   
}

input { 

    width:100%;
    height:50px;
    border-radius:10px;
    border: 1px solid hsl(270, 3%, 87%);
    
}

.button {
    height:50px;
    width:100%;
    margin-top:5%;
    border-radius:10px;
    border-style: none;
    background:hsl(278, 68%, 11%);
    color:white;
    font-size:1.8rem;
}

.activeButton {
    background: red;
}

/******************************************
/* LAYOUT
/*******************************************/

/* ********** HEADER********** */

/* BACKGROUND IMAGE */

header {

   height:280px;
   position:relative;
   color: hsl(270, 3%, 87%);
   font-size:1.2rem;
   margin-left:2%;
}

header * {
    position: absolute;
} 

/* CARD BACK IMAGE */

.backSide {

    background-image: url("../images/bg-card-back.png");
    background-size:contain;
    background-repeat: no-repeat;
    height:168px;
    width:305px;
    border-radius:8px;
    top:50px;
    left:150px;
    position:absolute;
  
    
}

.backSide span {

    position:absolute;
    top: 76px;
    left:235px;
    right:50px;

}

/* CARD FRONT IMAGE */

.frontSide {
    background-image: url("../images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size:contain;
    height: 168px;
    width:305px;
    border-radius:8px;
    float:right;
    top:170px;
    left:5%;
    color:hsl(270, 3%, 87%);  
}

.cardNumber {
    top:85px;
    left:30px;
    font-size:2rem;
    width:100%;   
}

#namePlaceholder{
    top:120px;
    left:30px;
}

#expPlaceholder  {
    top:120px;
    left:230px;   
}

#expirationContainer {
    display: inline-block;
}


/* CARD FRONT DESIGN ITEMS */

.filledBadge {

    height:35px;
    width:35px;
    border-radius:50%;
    background-color: white;
    top:25px;
    left:25px;

}

.outlineBadge {
    height:18px;
    width:18px;
    border-radius: 50%;
    border:1.5px solid  hsl(270, 3%, 87%);;
    top:35px;
    left:75px;
}

/* *********** MAIN ************ */

main {
    background:white;
    padding:20% 10%;
    font-size:1.2rem;
    color:hsl(278, 68%, 11%);
}

main section {
    margin-bottom:3%;
    line-height: 2.5em;
}

main section div {
    display:flex;
    justify-content: space-between;
}

main span {
    display:inline-block; 
}

input {
    font-size:1.5rem;
    padding:2%;
    margin: 3% 0;
}

.monthYearContainer input,
.cvc{
    text-align: center;
}

.expirationField{
    text-align: center;
}


.cvc  {
    flex-basis:45%;  
}

.dateInput, 
.cvcInputField {

    display:flex;
    flex-direction: column;
}


footer {
    display:block;
    height:20px;
    text-transform: capitalize;
    background-color: white;
}


.attribution {
    width:100%;
 
}


.dateFields {
    width:45%;
}

.monthYearContainer {
    display:flex;
    
}

.monthYearContainer input {
    width:40%;
}

#inputYear {
    margin-left:5%;
}

.cvcField {
    display:flex;
    flex-direction: column;
    width:55%;
}

.expCvcFields {
    display: flex;
    justify-content: space-between;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 374){
   
    body {
        scale:0.2;
    }

    main {
        scale:0.2;
        width:100vw;
    }


}

@media (min-width:1024px){

    body { 
        display:flex;
        flex-direction:row;
        background-image:url('../images/bg-main-desktop.png');
        background-size: contain;
      
    }

    header{
        width:30vw;
 
    }

    footer {

        display:none;
    }



    .frontSide {

        top:20vh;
        left:15vw;
        scale: 1.2;
        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
     
  
    }

    .backSide {
        
        top:48vh;
        left:20vw;
        scale:1.2;
        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
    }

    main {
        width:70vw;
        padding:15%;
        height:100vh;
        padding-top: 25vh;
        padding-left:25vw;
    
    }

    main section,
    button {
        scale:.9; 
        margin-bottom:0px;
        margin-top:2vh;
    }

    button {

        height:8vh;

    }

   

}

@media (min-width: 2159px) {

   .frontSide,
   .backSide {

    scale:3;

   }

   .button {

    scale:1.56;
    border-radius: 20px;
    font-size: 4rem;
    padding:5%;
    margin:auto;
    margin-right:5%;
    margin-top:10%;
    height:4.5vh;
    text-align: center;
  
   }


   main section{

    scale:3;
    margin:2vh;
    padding:2vh 0 2vh 2vh;
    margin-right:10vw;
   }

   footer {
    display:none;
   }
}

/************* ERRORS *************/

.error {
    font-size:1rem;
    color: red;
    font-weight: bold;
    margin: 5px auto 15px auto;
    display:none;
}

/* #cvc-error,
#date-error {
    display:inline;
    
}

#cvc-error {
   float:right;
   margin-right: 5%;
} */